body {
  background-color: #E3F4FF;
  color: #505E66;
  text-align: center;
}

header {
  margin-top: 30px;
}

h1 {
  color: #505E66;
}

.new-item {
  margin-top: 30px;
}

ul {
  list-style: none;
  margin-left: 345px;
  width: 250px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: #fafafa;
}

li {
border-bottom: 1px solid #dbdbdb;
  text-align: left;
  padding: 10px 5px 10px 15px;
}
